* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    text-align: center;
}

.app .header {
    padding: 20px;
    min-height: 80px;
    margin-bottom: 75px;
    background-color: #336699;
    color: #ffffff;
}

.app .items {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.app .preformatted {
    margin-bottom: 50px;

}

.app .card {
    height: 150px;
    width: 150px;
    margin: 25px;
    background-color: #9fc2e6c7;
    padding: 25px;
    border: 1px solid #999999;
    border-radius: 20px;
    box-shadow: 3px 3px 12px #666666;
}

.app .fileupload {
   height: 45px;
}